body {
	font-family: helvetica;
	font-size: 11px;
	padding:0% 10% 0% 10%;
	text-align: center;
	color:#333;
}

.tableDiv {
	height:300px;
}

.proteinRow:hover {
	background-color:#EEEEEE;
}

#proteinOptions {
	font-size: 10px;
	font-family: helvetica;
	overflow: auto;
}

a {
	color:#777;
	font-size: 11px;
	font-family: helvetica;
	cursor:pointer;
}

.message{
	color:#333;
	font-size: 12px;
	display: block;
	font-family: helvetica;
}

.box{
	border-radius:3px;
	position: relative;
	overflow: auto;
	float: left; 
	width:100%;
	margin:1%;
	border: 1px dashed #ABABAB;
	border-radius:10px;
	background-color:#FFFFFF;
}
