/*
a.small.button.joyride-button {
    border: 1px solid rgb(0, 60, 180);
    background: rgb(0, 99, 255);
    width: auto;
    padding: 6px 18px 4px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
    top: 1px;
    position: relative;
    cursor: pointer;
    margin: 0;
    float: none;
}

a.small.button.joyride-button:hover, a.small.button.joyride-button:active {
    color: white;
    top: 1px;
    position: relative;

}
*/

.container {
   background-color: white;
}

.popover[class*="tour-"] {
    color: #222;
    font-size: 13px;
    line-height: 1.4;
    font-weight: normal;
    z-index: 1000000;
}

.popover a {
    color: black;
    text-decoration: underline;
    font-size: 13px;
    line-height: 1.4;
}

.warning_header {
    font-size: 12px;
    background: #666666;
    color: #FFF;
    text-align: center;
    display: block;
    padding: 3px;
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5em;
    z-index: 1001;
}