html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-y: scroll;
}

:hover, :focus, :active {
	outline: none;
}

body {
	font-family: Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 400; /* normal */
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size:12px;
	margin:20px;
	color:#222;
}

a {
	color: #555;
	font-weight: normal;
	cursor: pointer;
	text-decoration: none;
	transition:color 0.2s ease;
	-moz-transition:color 0.2s ease;
	-webkit-transition:color 0.2s ease;
	-o-transition:color 0.2s ease;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

label {
	font-weight: 700; /* normal */
	font-size:14px;
	color:#222;
}

.container {
    position: relative;
}

.topPanel {
    height:50px;
    width: 100%;
    position: float;
    top: 0;
    left: 0;
}

.leftPanel {
    width: 400px;
    position: absolute;
    top: 50px;
    left: 0;
}

.rightPanel {
    margin-left: 420px;
    margin-right: 20px;
}

.button {
	border: 1px solid #AAA;
	border-radius: 1px;
	margin:5px 0px 5px 0px;
	padding:1px 3px 1px 3px;
}

.showProteinSearch {
	border: 1px solid #AAA;
	border-radius: 1px;
	padding:0px 3px 0px 3px;
}

.button:hover {
	background-color:#BBB;
	color:#000;
}

#visited {
	font-size:12px;
	width:390px;
}

.visitedList {
	display: table-cell;
	width:100%;
	float:left;
	border: 1px solid #EEE;
	border-radius: 1px;
}

.visitedListDivs {
	display: table-cell;
	float:left;
	margin:2px;
	width:40px;
}

.deleteCookieDiv {
	float:left;
	width:10px;
}

.deleteCookie {
	font-size:12px;
}

.deleteCookie:hover {
	font-size:12px;
	color:#C11B17;
}

.proteinName {
	width:330px;
}

#searchResults {
	width:100%;
}

.searchListDivs {
	display: table-cell;
	white-space: nowrap;
	padding:0px 3px 0px 3px;
	float:left;
	height:100%;
}

.searchList {
	display: table-cell;
	width:100%;
	background-color:#FAFAFA;
	margin:2px;
	float:left;
	border: 1px solid #EEE;
	border-radius: 3px;
}

.input_error {
	color: #ff2118;
	font-size:90%;
}