html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

:hover, :focus, :active {
    outline: none;
}

body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400; /* normal */
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 11px;
    margin: 0;
    color: #333;
    background-color: white;
    line-height: 13px !important;
    vertical-align: middle;
}

section {
    overflow-y: hidden;
    overflow-x: hidden;
    /*min-height: 100%;*/
}


menu {
    margin: 5px;
}

.overlay {

    background-color: #FFF;
    opacity: 0.8;
    /*filter: alpha(opacity=80); !* For IE8 and earlier *!*/
}

.loadingContainer {
    font-weight: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 50px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: #000;
    position: absolute;
    background-color: #FFF;
    opacity: 0.75;
}

.topOptionsContainer {
    display: none;
    float: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 30px;
    width: 100%;
}

.sidebarContainer {
    position: fixed;
    left: -280px;
    width: 300px;
    height: 100%;
    z-index: 999999;
    display: none;
}

.headerNameContainer {
    float: left;
    padding: 3px 30px 0 30px;
    display: none;
}

.headerDataContainer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.tableContainer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}

.visualisationContainer {
    float: left;
    margin-left: 25px;
    margin-right: 1em;
    width: 100%;
    display: none;
}

.loadingIcon {
    font-size: 22px;
}

#protein_name_container * {
    display: inline-block;
    vertical-align: middle;
}

#protein_name_container {
    float: left;
    display: inline;
}

#protein-name {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

#protein-species {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    font-size: 12px;
    color: #555;
    font-style: italic;
}

#protein_name_container h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#protein_name_container a#link-to-uniprot {
    font-size: 10px;
    color: #838383;
    margin-left: 5px;
}

#protein_name_container a#link-to-uniprot:hover {
    color: #5e5e5e;
}

.alignment_options_picker, .clades_options_picker, .duplication_picker {
    display: inline-block;
    min-width: 10px;
    padding: 1px 3px;
    font-size: 11px;
    color: #333;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
}

.alignment_options_picker_count, .duplication_picker_count {
    background-color: #AAAAFF;
    font-weight: 700;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 3px;
}

.alignment_options_picker_tag, .duplication_picker_tag {
    font-weight: 600;
    margin-top: 3px;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    width: 140%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.topOptionsContainer_button {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    min-width: 10px;
    margin: 0 0 0 3px;
    padding: 3px 3px;
    font-size: 12px;
    color: #777;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    /*float: right;*/
    cursor: pointer;
}

.home_button {
    color: #C11B17;
}

.topOptionsContainer_button:hover {
    border: 1px solid #888;
}

.topOptionsContainer_button_selected {
    border: 1px solid #888;
    background-color: #EEE;
}

.sidebar_featureGroup {
    font-weight: 700;
}

.sidebar_feature {
    font-weight: 400;
    font-size: 10px;
}

.sidebar_header {
    background-color: #EEE;
    border-bottom: 1px solid #BBB;
    height: 20px;
    padding: 0 0 0 5px;
}

.sidebarOptionsContent {
    padding: 10px;
}

.sidebarContent {
    float: left;
    width: 280px;
    height: 100%;
    background-color: #FEFEFE;
    border: 1px solid #BBB;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebarOverhang {
    position: absolute;
    right: -0px;
    width: 20px;
    top: 26px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 11px;
    /*padding: 26px 0px 0px 0px;*/
    color: #333;
    z-index: -1;
}

.sidebar_title {
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 0 0 0;
}

.sidebarClose {
    float: right;
    font-size: 12px;
    color: #333;
    margin: 3px 7px 0 10px;
    cursor: pointer;
}

.sidebarClose:hover {
    color: #5e5e5e;
}

.sidebar_tab_selected {
    height: 85px;
    font-weight: 700;
    background-color: #DCDCDC;
    border-right: 2px solid #BBB;
    border-bottom: 1px solid #BBB;
    border-top: 1px solid #BBB;
    margin: 3px 0 0 0;
    padding: 0 0 0 2px;
    cursor: pointer;
}

.sidebar_tab {
    height: 85px;
    font-weight: 500;
    border: 1px solid #BBB;
    border-right-width: 2px;
    margin: 3px 0 0 0;
    padding: 0 0 0 2px;
    cursor: pointer;
    background-color: white;
}

.sidebar_tab:hover {
    border-right: 2px solid #777;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
}

.sidebar_text {
    margin: 5px;
    padding: 1px 2px 1px 1px;
    background-color: #FFF;
}

.sidebar_tab_icon {
    transform-origin: left bottom 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 0% 100%; /* IE 9 */
    -webkit-transform-origin: 0% 100% 0;
    -webkit-transform: rotate(90deg); /* Safari */
    white-space: nowrap;
    display: inline-block;
    font-weight: 700;
}

.show_features_all_container {
    float: left;
    width: 100%;
}

.sidebarProteinsContent {
    float: left;
    width: 100%;
}

.sidebar_features_container {
    margin: 0 0 3px 0;
    padding: 3px;
    border-top: 1px solid #CCC;
    float: left;
    width: 100%;
}

.sidebar_features_group {
    font-weight: 600;
    padding: 0 3px 0 0;
    text-align: right;
    width: 45%;
    float: left;
    white-space: nowrap;
}

.sidebar_features {
    font-weight: 400;
    width: 45%;
    float: left;
    padding: 0 0 0 5px;
    margin: 0 0 0 0;
    white-space: nowrap;
    border-left: 1px solid #888;
    overflow: hidden;
}

.sidebar_features_button_show {
    padding: 0 2px 0 2px;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: #555;
    cursor: pointer;
}

.sidebar_features_button_hide {
    padding: 0 2px 0 2px;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: #555;
    cursor: pointer;
}

.sidebar_features_button:hover {
    color: #111;
}

.sidebar_feature_button {
    padding: 0 2px 0 2px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #555;
    cursor: pointer;
}

.sidebar_feature_button:hover {
    color: #111;
}

.featureGroup_all {
    float: left;
    border: 1px solid #777;
    margin: 0 1% 5px 1%;
    width: 45%;
    text-align: center;
    cursor: pointer;
}

.featureGroup_all:hover {
    background-color: #E4E4E4;
    border: 1px solid #333;
}

.show_all_protein .btn-proviz {
    float: left;
    border: 1px solid #777;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    text-align: center;
    cursor: pointer;
}

.show_all_protein:hover {
    background-color: #E4E4E4;
    border: 1px solid #333;
}

.protein_count {
    background-color: #AAAAFF;
    padding: 0 3px 0 3px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 10px;
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
}

.feature_sorter {
    height: 100%;
    width: 15px;
}

#trackInfo {
    width: 206px;
    float: left;

    border-right: 2px solid #CCC;
}

#trackData {
    overflow: auto;
    overflow-y: hidden;
}

.fC > a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.self_link {
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 5px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    position: relative;
    float: left;
}

.self_link:before {
    position: absolute;
    font-family: FontAwesome, serif;
    content: "\f0c9";
}

.ali_name {
    position: relative;
    overflow: hidden;
    cursor: help;
}

.ali_name_selected {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.ali_name_selected .ali_name {
    color: #0b0b0b;
    text-shadow: 0 0 #5e5e5e;
}

.ali_selected {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.name {
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

.button {
    border: 1px solid #DEDEDE;
    background-color: #DCDCDC;
    border-radius: 3px;
    color: #444;
    padding: 3px;
    margin: 3px;
    float: left;
    cursor: pointer;
}

#PDBButton {
    cursor: pointer;
}

.optionsButtons {
    cursor: pointer;
    margin: 2px;
    padding: 1px;
}

.container {
    white-space: nowrap;
    clear: both;
    background: #EFEFEF;
    margin: 3px 0 3px 0;
    max-width: none;
    min-width: initial;
    width: auto;
}

#trackInfo > .container {
    background: #E3E3E3;
    border-left: 2px solid #AAA;
}

/*#trackData #offset * {*/
/*overflow-x: hidden;*/
/*}*/

.featureContainer {
    margin-top: 10px;
    clear: both;
}

.featureLine {
    padding: 1px 0 1px 0;
    margin: 1px 0 1px 0;
    /*margin: 0;*/
    clear: both;
    display: table;
    height: 14px;
    box-sizing: border-box;
}

#d_sequence.featureLine {
 margin: 0;
 padding: 0;
}

.aliLine {
    width: 100%;
    clear: both;
    height: 14px;
}

#trackInfo #sequence .aliLine {
    /*padding: 1px 0;*/
    margin: 1px 0;
    overflow-y: hidden;
}

.featureType {
    padding: 0 0 0 5px;
    font-size: 10px;
    vertical-align: 10px;
    line-height: 13px;
    background: #F0F0F0;
    color: #666666;
    font-family: Helvetica, serif;
    float: left;
    width: 165px;
    height: 14px;
    display: block;
    overflow: hidden;
}

.aliType {
    padding: 0 0 0 5px;
    font-size: 10px;
    background: #F0F0F0;
    color: #666666;
    font-family: Helvetica, serif;
    float: left;
    width: 165px;
    height: 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featureHelp {
    height: 12px;
    font-size: 85%;
    white-space: nowrap;
    text-indent: 1px;
    color: #555;
    cursor: pointer;
    /*width: 34px;*/
    /*float: left;*/
}

.featureData {
    float: left;
    position: relative;
    background-color: #FAFAFA;
}

.offsetData {
    height: 12px;
    float: left;
    position: relative;
}

.oC {
    font-size: 10px;
    height: 14px;
    color: #333;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    float: left;
    padding-left: 2px;
    position: absolute;
}

.alignmentData {
    height: 14px;
    white-space: nowrap;
    float: left;
    margin: 0;
}


.speciesA > * {
    float: left;
    top: 0;
    font-size: 11px;
    font-family: helvetica, "Courier", monospace;
    text-align: center;
    white-space: nowrap;
    height: 14px;
    cursor: pointer;
    vertical-align: text-bottom;
}

.aC {
    width: 10px;
    height: 14px;
    color: #333;
    font-size: 9px;
    transition: background-color 0.5s ease !important;
    vertical-align: baseline;
    line-height: 14px;

}

.aCC {
    width: 5px;
    font-size: 0;
    height: 14px;
    transition: background-color 0.5s ease !important;
}

.speciesA {
    white-space: nowrap;
    font-size: 80%;
    overflow-y: hidden;
}

.fC {
    position: absolute;
    text-indent: 2px;
    font-family: "Arial", serif;
    white-space: nowrap;
    height: 11px;
    font-size: 9px;
    border-radius: 3px;
    cursor: pointer;
}

.hC > a {
    display: block;
    height: 100%;
}

.hC, .hCL {
    float: left;
    position: absolute;
    cursor: pointer;
    width: 10px;
    background-color: #494949;
}

.hCC, .hCLC {
    float: left;
    position: absolute;
    cursor: pointer;
    width: 5px;
    background-color: #494949;
}

#short_sequence_motif > * {
    background-color: #33CC99;
}

#elm > * {
    background-color: #FFD700;
}

#modified_residue > * {
    background-color: #45cb7d;
}

#phospho\.elm > * {
    background-color: #76B19D;
}

#mutagenesis_site > * {
    background-color: #FF8C00;
}

#pfam > * {
    background-color: #ADD8E6;
}

#PDB > * {
    background-color: #F5DEB3;
}

#elm_regex > * {
    background-color: #F0E68C;
}

#homology_model > * {
    background-color: #DFD0E9;
}

#splice_variant > * {
    background-color: #8FBC8F;
}

#sequence_variant > * {
    background-color: #F0E68C;
}

#chain > * {
    background-color: #E6E6FA;
}

#dna_binding_region > * {
    background-color: #ADD8E6;
}

#region_of_interest > * {
    background-color: #6699CC;
}

#metal_ion-binding_site > * {
    background-color: #D8BFD8;
}

#site > * {
    background-color: #6699CC;
}

#cross-link > * {
    background-color: #008080;
}

#iupred > .hC {
    background-color: #808080;
}

#iupred > .hCL, #iupred > .hCLC {
    background-color: #AA5050;
}

#conservation > * {
    background-color: #9988BB;
}

#psiPred > * {
    background-color: #9988BB;
}

#mobiDB > * {
    background-color: #CDDDCC;
}

#peptide > * {
    background-color: #B8FFB8;
}

#anchor > * {
    background-color: #80B66C;
}

#switches > * {
    background-color: #00B2B2;
}

#topological_domain > * {
    background-color: #A9D0F5;
}

#transmembrane_region > * {
    background-color: #CEECF5
}

#nucleotide_phosphate-binding > * {
    background-color: #b04a41
}

#binding_site > * {
    background-color: #B8FFB8
}

#active_site > * {
    background-color: #CC4CCC
}

.aliLine > .featureHelp {
    border: none;
    cursor: default;
}

.NO {
    background-color: #FFFFFF;
}

.YE {
    background-color: rgba(204, 204, 0, 0.8);
}

.OR {
    background-color: rgba(229, 153, 76, 0.9);
}

.GR {
    background-color: rgba(25, 204, 25, 0.95);
}

.RE {
    background-color: rgba(229, 51, 25, 0.9);
}

.BL {
    background-color: rgba(25, 127, 229, 0.5);
}

.PI {
    background-color: #E57F7F;
}

.CY {
    background-color: #00B2B2;
}

.MA {
    background-color: #CC4CCC;
}

.headerButtonContainer {
    border: 1px solid #EDEDED;
    border-radius: 5px;
    display: none;
    text-align: center;
    width: 98%;
/*/ / overflow: hidden;*/
    padding: 3px;
    margin: 3px 0 5px;
    font-weight: bold;
}

#hideAllButton {
    margin-right: 80px;
}

.drop_zone {
    float: left;
    display: none;
    width: 100%;
    border: 1px dashed #494949;
    border-radius: 5px;
    padding: 15px 0 15px;
    margin: 3px 0 5px;
    text-align: center;
    color: #494949;
    background-color: #f3f3f3;
    box-shadow: inset 0 0 5px #494949;
}

.drop_zone input {
    width: auto;
    max-width: 90%;
}

.hide_protein {
    cursor: pointer;
    color: #555;
}

.move_up {
    cursor: pointer;
    color: #555;
}

.move_down {
    cursor: pointer;
    color: #555;
}

.show_hidden_protein, .show_all_category {
    cursor: pointer;
    color: #555;
    text-decoration: underline dotted #555;
}


.show_hidden_protein:hover {
    color: #111111;
    text-decoration: underline dotted #494949;
}

#architectureContainer {
    width: 100%;
    clear: both;
    float: left;
    position: relative;
}

#architectureLine {
    background-color: #F6F6F6;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    margin: 0 2%;
    min-height: 10px;
    overflow: hidden;
}

.architectureTrack {
    width: 100%;
    position: relative;
    text-align: left;
}

.archiCell {
    position: absolute;
    border-radius: 3px;
    font-size: 8px;
    overflow: hidden;
    white-space: nowrap;
    height: 10px;
    box-sizing: border-box;
    line-height: 1em;
}

.pfam {
    background-color: #ADD8E6;
    border: 1px dashed #909090;
    text-align: center;
}

.modified_residue {
    background-color: #76B19D;
    border: none;
}

.elm {
    background-color: #FFD700;
    border: 1px dashed #909090;
}

.ssm {
    background-color: #33CC99;
    border: 1px dashed #909090;
}

input {
    width: 55px;
}

.gap {
    display: none;
}

.inDel {
    text-transform: lowercase;
}

.ofRange {
    display: none;
}

.overflow {
    opacity: 1;
    position: absolute;
    box-sizing: border-box;
    border: 1px dashed #494949;
    z-index: 500;
    pointer-events: none;
}


.resultSearch_alignment > .archiCell {
    background-color: #be4b2a;
    border: 1px dashed #991e18;
    min-height: 1em;
    top: 0;
    position: absolute;
    height: 100%;
}

.degradation_peptide {
    border: 1px solid #CCC;
}

.highlight {
    border: 1px solid #333;
}

.fa-toggle-off, .fa-toggle-on {
    float: none;
}

.featureHelp > div {
    display: inline-block;
}

.sidebarFeaturesContent {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.sidebarFeaturesContent .featureBlock {
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

.sidebarFeaturesContent .featureBlock .featureColumn {
    width: 48%;
    position: relative;
    padding: 5px 0;
}

.sidebarFeaturesContent .featureBlock .featureColumn.featureBlockTitle {
    text-align: center;
    font-weight: 800;
}

.sidebarFeaturesContent .featureBlock .featureColumn.featureBlockTitle.fcLeft {
    text-align: center;
}

.sidebarFeaturesContent .featureBlock .featureColumn.fcRight {
    border-left: 1px solid #888;
    padding-left: 2px;
    float: left;
    border-collapse: collapse;
    word-wrap: normal;
    margin-left: -1px;
}

.sidebarFeaturesContent .featureBlock .featureColumn.fcLeft {
    text-align: right;
    padding-right: 2px;
    border-right: 1px solid #888;
    float: left;
    font-weight: 600;
    border-collapse: collapse;
    word-wrap: break-word;
}

.headline {
    font-size: 14px;
    cursor: pointer;
}

.text {
    display: none;
}

.cladeNumber {
    height: 100%;
    font-weight: 700;
    padding: 1px;
    margin-left: 1px;
    width: 10px;
    text-align: center;
    font-size: 9px;
}

#sequence .cladeNumber {
    float: right;
}

#metainformation_uniprot {
    float: left;
    border-bottom: 1px solid #EEEEEE;
    cursor: help;
}

#quick-actions-buttons {
    margin-right: 1em;
    float: right;
}

#select-aligns {
    display: inline-block;
}

a.ali_name {
    color: #666;
}

#info_protein {
    clear: both;
}

#info_protein div {
    display: none;
}

.ui-tooltip {
    max-width: 30%;
}

#search {
    vertical-align: middle !important;
}

#searchContainer {
    text-align: center;
}

#focusContainer {
    text-align: center;
}

#searchRegexp {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.big-btn {
    padding: 0.3em;
    font-weight: bold;
}

#iupred .hC.zeroLine {
    height: 0;
    /*width:100%;*/
    left: 0;
    border: 1px solid #8c8c8c;
    z-index: 200;
    margin: 0;
    padding: 0;
    position: absolute;
}

.peptide {
    position: absolute;
    height: 11px;
    overflow: hidden;
    border-radius: 3px;
}

.peptide > a {
    height: 14px;
    overflow: hidden;
}

.peptide .aC {
    text-align: center;
    padding: 0px;
    font-size: 9px;
    /*font-family: "Courier", monospace;*/
    width: 10px;
    height: 12px;
    float: left;
    top:-1px;
}

.archi-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#archi-nav-right {
    right: 0;
    min-height: 22px;
}

#archi-nav-left {
    float: left;
    min-height: 22px;
}

.curtain {
    background-color: #949494;
    top: 0;
    opacity: 0.3;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
}

.curtain-right {
    right: 0;
    border-left: 1px solid black;
}

.curtain-left {
    left: 0;
    border-right: 1px solid black;
}

#alipositions {
    margin: 0 2%;
    padding: 0 1px;
    box-sizing: content-box;
    position: relative;
    /*overflow: hidden;*/
}

.oC.offsetRight:after {
    font-size: 10px;
    content: attr(data-offset);
    padding-left: 1px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.oC.offsetLeft:before {
    font-size: 10px;
    content: attr(data-offset);
    padding-right: 1px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

#trackData #offset {
    background-color: #ccc;
}

#trackData .aC.aaMatched, #trackData .aCC.aaMatched {
    opacity: 1 !important;
    background-color: #262626;
    color: white;
    font-weight: bold;
}

footer {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
}

.divide-top {
    margin-top: 0;
    padding-top: 0;
    display: none;
}

.container-hidden-proteins:empty::after {
    content: "none";
}

#trackInfo .container {
    max-width: 204px;
    width: 204px;
    min-width: 204px;
}

h3 {
    font-size: 1.5em;
}

.sidebar_text h4 {
    font-size: 1.4em;
}

.sidebar_text a {
    text-decoration: underline;
}

.sidebar_text a:hover {
    color: #8c8b8b;
}



/* Landscape phones and down */
/*
@media (max-width: 480px) {
    .topOptionsContainer_button {
        font-size: 1.2em;
    }

    #architectureLine {
        width: 100%;
        margin: 0;
    }

    .visualisationContainer {
        padding: 0 0 0 30px;
        margin: 0;
    }

    #select-aligns {
        display: inline-block;
        width: 100%;
    }

    #quick-actions-buttons {
        margin: 1em 0 0em 0;
        width: 100%;
    }

    .modal-content {
        width: 100%;
        top: 0;
        left: 0;
    }

}*/
