/* Only for the print version for PDF */
.visualisationContainer {
    float: left;
    margin: 0;
    display: block;
}

#trackData .container:first-child {
    margin-top: 0;
}

#trackData .container:first-child .featureLine {
    margin-top: 0;
    padding-top: 0;
}

#trackInfo .container:first-child {
    margin-top: 0;
}

#trackInfo .container:first-child .featureLine {
    margin-top: 0;
    padding-top: 0;
}

#trackData .container:last-child {
    margin-bottom: 0;
}

#trackInfo .container:last-child {
    margin-bottom: 0;
}

#trackData .container {
    display: block;
    overflow-y: hidden;
}

#trackInfo .container {
    display: block;
    overflow-y: hidden;
}

#trackData #sequence.container {
    margin-top: 3px;
}

#trackInfo #sequence.container {
    margin-top: 3px;
}