.slider-pan-container {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    position: relative;
}

.slider-helper {
    font-size: 9px;
    display: inline-block;
}

.fasta-textarea {
    height: 300px;
    width: 99%;
    font-family: Courier, sans-serif;
    font-size: 1em;
    overflow-y: scroll;
}

#align {
    position: relative;
}

.slider-selection-bg {
    min-height: 1px;
    height: 100%;
    z-index: 20;
    position: absolute;
    box-shadow: 8px 5px 10px -5px #454545,
    -8px 5px 10px -5px #454545;
    pointer-events: none;
}

.slider-bg-curtain {
    background-color: #5e5e5e;
    height: 100%;
    display: block;
    pointer-events: none;
    z-index: 20;
    min-height: 1px;
    opacity: 0.3;
    position: absolute;
}

#trackData {
    position: relative;
}

#trackData #addDataTrack-1 {
    position: absolute;
    padding: 0;
    margin: 0;
}

.aC {
    position: relative;
    z-index: 15;
}

.overflowAlign {
    opacity: 1;
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #b04a41 2px dashed;
    z-index: 500;
    pointer-events: none;
}

.slider-cursor {
    top: 0;
    width: 0;
    box-sizing: border-box;
    position: absolute;
    border-left: 2px dotted #555;
    z-index: 100;
    height: 100%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-slider-handle {
    background: #DFEFFC !important;
}

.ui-slider {
    z-index: 10;
    background: #E3E3E3 !important;
    border-color: #AAA !important;
    border-left: 0;
    border-radius: 3px;
    margin-bottom: 2px;
}

.ui-slider .ui-slider-range {
    z-index: 11;
    background: #AAA !important;
    border-color: #AAA !important;
    border-radius: 3px;
}

.ui-slider .ui-slider-handle {
    z-index: 12;
    border-radius: 3px;
    border-color: #555555 !important;
    background: #888888 !important;
    width: 10px;
    height: 0.8em;
    top: -0.1em;
    margin-left: -2px;
}

/*Fasta*/
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    /*-moz-opacity: .5;*/
    /*filter: alpha(opacity=50);*/
    z-index: 100000000;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    /*-moz-box-shadow: 0 0 20px 0 #222;*/
    display: none;
    /*height: 50%;*/
    left: 25%;
    padding: 10px;
    position: absolute;
    top: 15%;
    width: 50%;
    z-index: 10000000000;
    box-sizing: border-box;

}

.modal-background.active, .modal-content.active {
    display: block;
}

.modal-close {
    cursor: pointer;
}

.modal-close:hover {
    color: #AAA;
}

/* regexp */
.has-error #help-text-search-regexp {
    color: red;
}

.has-error input {
    border: red 1px solid;
}

.has-success #help-text-search-regexp {
    color: #059f07;
}

.has-success input {
    border: #059f07 1px solid;
}

/* buttons */
a.btn-proviz, button.btn-proviz, select.btn-proviz, input.btn-proviz {
    border: 1px solid #777;
    margin: 1px 1px 5px;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    background-color: whitesmoke;
    border-radius: 3px;
}

a.btn-proviz:hover, button.btn-proviz:hover, a.btn-proviz:active, button.btn-proviz:active {
    background-color: #E4E4E4;
    border: 1px solid #333;
}

select.btn-proviz, input.btn-proviz {
    text-align: left;
    min-height: 20px;
}

/*search input*/
input#search-regexp {
    transition: border 0.25s ease 0s;
    border: 1px solid #DDD;
    color: #777;
    font-size: 1.1em;
    padding: 0.5em;
    box-sizing: border-box;
    width: 15rem;
    line-height: 1.4;
}

#search-regexp:focus, #search-regexp:active, #search-regexp:hover {
    border: 1px solid #999;
}

/* tooltip */

.proviz-tooltip-jquery {
    z-index: 999999;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: initial;
    padding: 2px;
    -webkit-border-radius: 3px;
    /*-moz-border-radius: 3px;*/
    border-radius: 3px;
    border: 1px solid #CCC;
    font-size: 12px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.1;
}

.ui-tooltip-content {
    display: inline-block;
    min-height: initial;
    width: initial;
}

.fa-question-circle {
    cursor: help;
}

/* slider btn focus */
#btn-slider-focus {
    background-color: red;
    height: 100%;
    width: 100%;
    text-align: center;
}

#btn-slider-focus:hover {
    background-color: darkred;
    cursor: pointer;
}

/* options block */
h3.options_title {
    margin-bottom: 5px;
    margin-top: 5px;
}

div.options_toggle {
    left: 0;
    vertical-align: middle;
}

i.options-help {
    margin-left: 10px;
}

div.optionSidebar {
    height: 22px;
    vertical-align: middle;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1000;
    margin-left: -65px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dropdown-content li {
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}